## Nazim Wali || Machine Learning Final || Spring 2022

In [166]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer

In [167]:
from sklearn import metrics

In [168]:
imp_mF = SimpleImputer(missing_values = np.NaN, strategy = 'most_frequent')

### Creating Train and Test Data Sets

In [169]:
data = pd.read_csv("eswine.csv", na_values=[' '])

In [170]:
data

,winery,wine,year,rating,num_reviews,country,region,type,body,acidity,price_range
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,Toro Red,5.0,3.0,[200-3030]
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,Tempranillo,4.0,2.0,[200-3030]
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[200-3030]
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[200-3030]
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[200-3030]
...,...,...,...,...,...,...,...,...,...,...,...
7495,Contino,Reserva,2016,4.2,392,Espana,Rioja,Rioja Red,4.0,3.0,[10-20]
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Espana,Priorato,Priorat Red,4.0,3.0,[10-20]
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,Espana,El Terrerazo,Red,4.0,3.0,[20-30]
7498,Matarromera,Gran Reserva,2011,4.2,389,Espana,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[50-100]
7499,Sei Solo,Preludio,2016,4.2,388,Espana,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[30-40]

#### Dropping 'country' as it is constant

In [171]:
datac = data[["winery", "wine", "year", "rating", "num_reviews", "region", "type", "body", "acidity", "price_range"]]

In [172]:
datac

,winery,wine,year,rating,num_reviews,region,type,body,acidity,price_range
0,Teso La Monja,Tinto,2013,4.9,58,Toro,Toro Red,5.0,3.0,[200-3030]
1,Artadi,Vina El Pison,2018,4.9,31,Vino de Espana,Tempranillo,4.0,2.0,[200-3030]
2,Vega Sicilia,Unico,2009,4.8,1793,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[200-3030]
3,Vega Sicilia,Unico,1999,4.8,1705,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[200-3030]
4,Vega Sicilia,Unico,1996,4.8,1309,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[200-3030]
...,...,...,...,...,...,...,...,...,...,...
7495,Contino,Reserva,2016,4.2,392,Rioja,Rioja Red,4.0,3.0,[10-20]
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Priorato,Priorat Red,4.0,3.0,[10-20]
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,El Terrerazo,Red,4.0,3.0,[20-30]
7498,Matarromera,Gran Reserva,2011,4.2,389,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[50-100]
7499,Sei Solo,Preludio,2016,4.2,388,Ribera del Duero,Ribera Del Duero Red,5.0,3.0,[30-40]

#### Checking for missing values and imputing the data

In [173]:
np.sum(datac.isna())

winery            0
wine              0
year              2
rating            0
num_reviews       0
region            0
type            545
body           1169
acidity        1169
price_range       1
dtype: int64

#### Imputing with "most-frequent" strategy for categorical variables

In [174]:
datac.year = imp_mF.fit_transform(datac['year'].values.reshape(-1,1))[:,0]

C:\Users\nazim\AppData\Local\Temp\ipykernel_5420\2281811036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datac.year = imp_mF.fit_transform(datac['year'].values.reshape(-1,1))[:,0]

In [175]:
datac.type = imp_mF.fit_transform(datac['type'].values.reshape(-1,1))[:,0]

C:\Users\nazim\AppData\Local\Temp\ipykernel_5420\1267404286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datac.type = imp_mF.fit_transform(datac['type'].values.reshape(-1,1))[:,0]

In [176]:
datac.body = imp_mF.fit_transform(datac['body'].values.reshape(-1,1))[:,0]

C:\Users\nazim\AppData\Local\Temp\ipykernel_5420\3814081851.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datac.body = imp_mF.fit_transform(datac['body'].values.reshape(-1,1))[:,0]

In [177]:
datac.acidity = imp_mF.fit_transform(datac['acidity'].values.reshape(-1,1))[:,0]

C:\Users\nazim\AppData\Local\Temp\ipykernel_5420\142210458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datac.acidity = imp_mF.fit_transform(datac['acidity'].values.reshape(-1,1))[:,0]

In [178]:
datac=datac.dropna()

In [179]:
np.sum(datac.isna())

winery         0
wine           0
year           0
rating         0
num_reviews    0
region         0
type           0
body           0
acidity        0
price_range    0
dtype: int64

#### Splitting Data into Test and Train

In [180]:
X = datac.iloc[:, :-1 ]

In [181]:
X

,winery,wine,year,rating,num_reviews,region,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Toro,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Vino de Espana,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Ribera del Duero,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Ribera del Duero,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Ribera del Duero,Ribera Del Duero Red,5.0,3.0
...,...,...,...,...,...,...,...,...,...
7495,Contino,Reserva,2016,4.2,392,Rioja,Rioja Red,4.0,3.0
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Priorato,Priorat Red,4.0,3.0
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,El Terrerazo,Red,4.0,3.0
7498,Matarromera,Gran Reserva,2011,4.2,389,Ribera del Duero,Ribera Del Duero Red,5.0,3.0
7499,Sei Solo,Preludio,2016,4.2,388,Ribera del Duero,Ribera Del Duero Red,5.0,3.0

In [182]:
y = datac.iloc[:, -1]

In [183]:
y

0       [200-3030]
1       [200-3030]
2       [200-3030]
3       [200-3030]
4       [200-3030]
           ...
7495       [10-20]
7496       [10-20]
7497       [20-30]
7498      [50-100]
7499       [30-40]
Name: price_range, Length: 7499, dtype: object

### Split to test-train data

In [184]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=104)

In [185]:
X_train.head()

,winery,wine,year,rating,num_reviews,region,type,body,acidity
250,Carmelo Rodero,Pago De Valtarrena,2018,4.6,99,Ribera del Duero,Ribera Del Duero Red,5.0,3.0
1839,Protos,27 Ribera del Duero,2016,4.2,3725,Ribera del Duero,Ribera Del Duero Red,5.0,3.0
5944,Contino,Reserva,2016,4.2,392,Rioja,Rioja Red,4.0,3.0
638,La Rioja Alta,Rioja Gran Reserva 904,2007,4.4,4357,Rioja,Rioja Red,4.0,3.0
6801,La Vicalanda,Reserva,2015,4.2,420,Rioja,Rioja Red,4.0,3.0

In [186]:
X_test.head()

,winery,wine,year,rating,num_reviews,region,type,body,acidity
3654,Imperial,Rioja Reserva,2004,4.2,417,Rioja,Rioja Red,4.0,3.0
4594,Contino,Reserva,2016,4.2,392,Rioja,Rioja Red,4.0,3.0
291,Vega Sicilia,Unico,1961,4.6,50,Ribera del Duero,Ribera Del Duero Red,5.0,3.0
2784,Vina Pedrosa,Gran Reserva,2011,4.2,410,Ribera del Duero,Ribera Del Duero Red,5.0,3.0
2846,Mustiguillo,Finca Terrerazo,2017,4.2,390,El Terrerazo,Red,4.0,3.0

### Separating Categorical variables

In [187]:
numX_train = X_train.iloc[:, 3:5]

In [188]:
numX_train

      rating  num_reviews
250      4.6           99
1839     4.2         3725
5944     4.2          392
638      4.4         4357
6801     4.2          420
...      ...          ...
655      4.4         1993
5372     4.2          389
730      4.4          512
5826     4.2          420
69       4.7          543

[5999 rows x 2 columns]

In [189]:
numX_test = X_test.iloc[:, 3:5]

In [190]:
numX_test

      rating  num_reviews
3654     4.2          417
4594     4.2          392
291      4.6           50
2784     4.2          410
2846     4.2          390
...      ...          ...
2921     4.2          390
346      4.6           25
7135     4.2          410
7293     4.2          398
3263     4.2          404

[1500 rows x 2 columns]

In [191]:
catX_train = X_train[["type", "body", "acidity"]]

In [192]:
catX_train

                      type  body  acidity
250   Ribera Del Duero Red   5.0      3.0
1839  Ribera Del Duero Red   5.0      3.0
5944             Rioja Red   4.0      3.0
638              Rioja Red   4.0      3.0
6801             Rioja Red   4.0      3.0
...                    ...   ...      ...
655              Rioja Red   4.0      3.0
5372  Ribera Del Duero Red   5.0      3.0
730   Ribera Del Duero Red   4.0      3.0
5826                   Red   4.0      3.0
69    Ribera Del Duero Red   5.0      3.0

[5999 rows x 3 columns]

In [193]:
catX_test = X_test[["type", "body", "acidity"]]

In [194]:
catX_test

                      type  body  acidity
3654             Rioja Red   4.0      3.0
4594             Rioja Red   4.0      3.0
291   Ribera Del Duero Red   5.0      3.0
2784  Ribera Del Duero Red   5.0      3.0
2846                   Red   4.0      3.0
...                    ...   ...      ...
2921                   Red   4.0      3.0
346                 Sherry   4.0      3.0
7135  Ribera Del Duero Red   5.0      3.0
7293           Tempranillo   4.0      2.0
3263           Priorat Red   4.0      3.0

[1500 rows x 3 columns]

#### Encoding Categorical Values

In [195]:
# ordinal encode input variables
ordinal_encoder = OrdinalEncoder()
ordinal_encoder.fit(catX_train)

OrdinalEncoder()

In [196]:
X_train_encoded = ordinal_encoder.transform(catX_train)
X_test_encoded = ordinal_encoder.transform(catX_test)

In [197]:
X_train_encoded[0:7,:]

array([[11.,  3.,  2.],
       [11.,  3.,  2.],
       [12.,  2.,  2.],
       [12.,  2.,  2.],
       [12.,  2.,  2.],
       [15.,  2.,  2.],
       [11.,  3.,  2.]])

In [198]:
X_test_encoded[0:7, :]

array([[12.,  2.,  2.],
       [12.,  2.,  2.],
       [11.,  3.,  2.],
       [11.,  3.,  2.],
       [10.,  2.,  2.],
       [11.,  3.,  2.],
       [12.,  2.,  2.]])

#### Encoding of target using LabelEncoder

In [199]:
# ordinal encode target variable
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
y_train_encoded = label_encoder.transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

In [200]:
y_train_encoded[0:7]

array([7, 4, 1, 7, 1, 0, 4])

### Logistic regression model

In [201]:
model = LogisticRegression()

In [202]:
model.fit(X_train_encoded, y_train_encoded)

C:\Users\nazim\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [203]:
predicted=model.predict(X_test_encoded)

In [204]:
accuracy = metrics.accuracy_score(y_test_encoded, predicted)

In [205]:
print('Accuracy: %.2f' % (accuracy*100))

Accuracy: 40.87

##### Not the best results, definitely room for improvement

### Pipeline

In [206]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [207]:
Xp = datac[["rating", "num_reviews"]]

In [208]:
Yp = datac[["winery", "wine", "year", "region", "type", "body", "acidity"]]

In [209]:
np.random.seed(0)

In [210]:
numeric_features = ["rating", "num_reviews"]
numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")), ("scaler", StandardScaler())]
)

categorical_features = ["winery", "wine", "year", "country", "region", "type", "body", "acidity"]
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", LogisticRegression())]
)

In [211]:
from sklearn.model_selection import train_test_split

In [212]:
X_train, X_test, y_train, y_test = train_test_split(Xp, Yp, test_size=0.2, random_state=0)

In [213]:
clf.fit(X_train, y_train)

ValueError: A given column is not a column of the dataframe

In [141]:
print("model score: %.3f" % clf.score(X_test, y_test))

AttributeError: 'ColumnTransformer' object has no attribute 'transformers_'